body {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas: 
        "head head head"
        "menu feed msg";
}

header {
    grid-area: head;
    background-color: rgb(228, 228, 228);
}

aside {
    background-color: rgb(226, 226, 226);
}

.menu {
    grid-area: menu;
}

.messenger {
    grid-area: msg;
}

main {
    grid-area: feed;
    background-color: azure;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}